.breadcrumb-hero{
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center;

}
.sub-title{
    margin-top : -20px;
}

.text-black{
    color : #000000;
}

.text-white{
    color : #FFF !important;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader {
    display : inline-block;
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid silver;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loader::before{
    content: "  ";
}

.slides-container{
    position: relative;
    width : 100%; height : 80vh;
    overflow: hidden;
}
.slides-container .bg{
    position: absolute;
    top : 0; left: 0;
    width : 100%; height : 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(.2rem);
    /* z-index: 1; */

}
.slides-container .slide-progression{
    position: absolute;
    top : 0; left : 0;
    background-color: #f16022c0;
    z-index: 1;
    width : 100%;
    height : .3rem;
}
.slides-container .slide-progression div{
    
    width : 100%; height : 100%;
    background-color: #d84a0e;
    transition : width .2s linear
}
.slides-container .slide {
    position : relative;
    width : 100%; height : 100%;
    display: none;
}
.slides-container .slide.active{
    display: block;
    animation: EaseIn .5s linear;
}

.slides-container .slide .image{
    width : 100%; height : 100%;
}
.slides-container .slide .image img{
    width : 100%; height : 100%;
    object-fit : cover;
    object-position: center;
}
.slides-container .slide .image.top img{
    object-position: top center;
}
.slides-container .slide .image.bottom img{
    object-position: bottom center;
}
.slides-container .slide .image.left img{
    object-position: left center;
}
.slides-container .slide .image.right img{
    object-position: right center;
}
.slides-container .slide .content{
    width : 100%; height : 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #2a2d7c3a;
    position: absolute;
    top : 0; left : 0;
}
@keyframes EaseIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
}
.slides-container .slide .content *{
    /* text-shadow: .3rem .3rem .3rem #FFF; */
    text-align: center;
}
.slides-container .slide .content span{
    font-size : 2rem;
    color : #fff;
}
.slides-container .slide .content h1{
    font-size : 3rem;
    text-transform: none;
    text-transform: capitalize;
    color : #F16122;
}
.slides-container .slide .content p{
    font-size: 1.5rem;
    color : #fff !important;
    text-transform: capitalize;
}

.slides-container .control{
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    z-index: 1000;
    padding : 1rem;
    font-size : 2rem;
    color : #fff;
    background-color : #f1602262;
    cursor : pointer;
    transition: all .2s linear;
}
.slides-container .control:hover{ 
    background-color : #F16122;
}
.slides-container .control#prev{
    left : 0;
}
.slides-container .control#next{
    right : 0;
}

.item-blog-post .head-item-blog-post-custom{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #2a2d7c;
}
.item-blog-post .head-item-blog-post-custom i{
    outline: none;
    padding : .5rem;
    border : .1rem solid #efefef;
    color : #efefef;
    font-size: 1rem;
    border-radius: 50%;
}
.item-blog-post .head-item-blog-post-custom h3{
    color : #FFF;
}
@media(max-width : 691px){
    .slides-container .control{
        top : 0;
        transform: translateY(0);
    }
}